---
layout: default
---

<div class="misc">
    <h2 class="post-title">All games</h2>

  {{ content }}


  <ul class="post-list">
  {% for post in site.posts %}
   {% if post.tags contains "Misc" %}
    <li>
        <h3>
          <img src="/assets/thumbnails/{{post.thumbnail}}" style="float: left; margin-right:15px;" height="100" width="100" border="1"/>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p>
          {{post.minidesc}}
          <br>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      <br>
    {%- endif -%}
   {%- endfor -%}
   </ul>
  
</div>
